__history
/AG Geradores/*.stat
/AG Geradores/*.identcache
FirmataPascal/
*.stat
*.dproj
*.local
*.identcache
*.dcu
*.exe
Firmata Delphi/Samples/Simple Application/Win32/Debug/SimpleApplication.exe
*.local
*.stat
*.dcu
*.log
